<app-toolbar>
  <span>Band App</span>
</app-toolbar>
<div class="home-page">
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>
      <button mat-flat-button (click)="slipknotPage()">Slipknot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="kornPage()">KoRn</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="soadPage()">SOAD</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="linkinParkPage()">Linkin Park</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="slipknotPage()">Sepultura</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="kornPage()">Limp Bizkit</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="soadPage()">Foo Fighters</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="linkinParkPage()">RHCP</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="slipknotPage()">Megadeth</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="kornPage()">Metallica</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="soadPage()">Nirvana</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="linkinParkPage()">Deftones</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-footer></app-footer>
