<app-toolbar>
  <span>Band App</span>
</app-toolbar>
<div class="home-page">
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>
      <button mat-flat-button color="secondary" (click)="slipknotPage()">Slipknot</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button color="secondary" (click)="kornPage()">KoRn</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button color="secondary" (click)="soadPage()">SOAD</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button color="secondary" (click)="linkinParkPage()">Linkin Park</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
