<app-toolbar>
  <img src="https://seeklogo.com/images/S/slipknot-logo-EFAF0E235E-seeklogo.com.png" alt="Logo do Slipknot">
</app-toolbar>

<div class="slipknot-page">
  <mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{sidName}}"
        position="{{sidPosition}}"
        image="{{sidImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{jimName}}"
        position="{{jimPosition}}"
        image="{{jimImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{shawnName}}"
        position="{{shawnPosition}}"
        image="{{shawnImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{mickName}}"
        position="{{mickPosition}}"
        image="{{mickImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{jayName}}"
        position="{{jayPosition}}"
        image="{{jayImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{alessandroName}}"
        position="{{alessandroPosition}}"
        image="{{alessandroImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{craigName}}"
        position="{{craigPosition}}"
        image="{{craigImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{tortillaName}}"
        position="{{tortillaPosition}}"
        image="{{tortillaImage}}"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-footer></app-footer>
