<app-toolbar toolbarTitle="{{slipknotTitle}}"></app-toolbar>

<div class="slipknot-page">
  <mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{sidName}}"
        position="{{sidPosition}}"
        image="{{sidImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{jimName}}"
        position="{{jimPosition}}"
        image="{{jimImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{shawnName}}"
        position="{{shawnPosition}}"
        image="{{shawnImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card
        name="{{coreyName}}"
        position="{{coreyPosition}}"
        image="{{coreyImage}}"></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
